.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Cadena productiva:
            | es un conjunto de agentes económicos interrelacionados por el mercado, desde la provisión de insumos, producción, transformación y comercialización hasta el consumidor final, en términos tecnológicos, financiamiento y capital bajo condición de cooperación y equidad. 

        hr
        p
            strong.mr-2 Calibración de equipos:
            | se denomina calibración al conjunto de operaciones que establecen, en unas condiciones especificadas, la relación existente entre los valores indicados por un instrumento o sistema de medida o los valores representados por una medida materializada, y los correspondientes valores conocidos de una magnitud medida.

        hr
        p
            strong.mr-2 Documentación:
            | acción de documentar o documentarse. Conjunto de documentos, generalmente oficiales, con que se prueba o acredita algo.

        hr
        p
            strong.mr-2 Inventario:
            | lista ordenada de bienes y demás cosas valorables que pertenecen a una persona, empresa o institución.

        hr
        p
            strong.mr-2 Limite Máximos de Residuos LMR:
            | es la cantidad máxima legalmente permitida en un plaguicida en o sobre los alimentos (tanto en el interior como en la superficie) cuando los plaguicidas se aplican correctamente conforme a las buenas prácticas agrícolas.

        hr
        p
            strong.mr-2 Registro:
            | es un reconocimiento de una determinada situación que se considera de relevancia

        hr
        p
            strong.mr-2 Requisito:
            | es una condición necesaria para tener acceso a algo, o para que una cosa suceda. La palabra requisito proviene del latín requisitum, que significa pretender o requerir alguna cosa. 

        hr
        p
            strong.mr-2 Trazabilidad:
            | poder trazar la historia, el uso o la ubicación de un producto por medio del mantenimiento de registros documentales (el origen de los materiales y las partes, la historia de los procesos aplicados al producto). 