.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Buenas prácticas agrícolas BPA. Logihfrutic, Convenio 1032 – 2013. 	 	
                    td Otro	 
                    td 
                        a(href="https://logihfrutic.unibague.edu.co/buenas-practicas/agricolas", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar 


                tr
                    td Convenio SENA – ASOHOFRUCOL 0045 de 2019. Producción Hortofrutícola orientada al mercadeo. ISBN: 978-958-57538-8-4. Bogotá, D.C., Colombia. 
                    td Cartilla 	 
                    td 
                        a(href="http://www.asohofrucol.com.co/archivos/Libros/Cartilla_Producci%C3%B3n_Hortofrut%C3%ADcola_Orientada_al_Mercado_Final.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 


                tr
                    td FAO-Corpoica. Capítulo 7: Cosecha y Poscosecha, ISBN 978-92-5-305833-4. 	 	
                    td Cartilla	 
                    td 
                        a(href="http://www.fao.org/3/a1374s/a1374s07.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 


                tr
                    td Instituto Interamericano de Cooperación para la Agricultura (IICA). 2006. Postcosecha y servicios de apoyo a la comercialización. Gestión de agronegocios en empresas asociativas rurales. ISBN 92-90-39-700-4. Lima, Perú. 	 	
                    td Cartilla	 
                    td 
                        a(href="http://repiica.iica.int/docs/b0352e/b0352e.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 


                tr
                    td Resolución 30021. Instituto Colombiano Agropecuario. Bogotá. Colombia. Abril 28 de 2017. 	 	
                    td Normativa Nacional 	 
                    td 
                        a(href="https://www.ica.gov.co/normatividad/normas-ica/resoluciones-oficinas-nacionales/2017/2017r30021", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar 


                tr
                    td Trazabilidad en la cadena alimentaria para frutas, hiervas aromáticas culinarias y hortalizas frescas. NORMA TÉCNICA COLOMBIANA NTC 5522 de 2007.	 	
                    td Documento	 
                    td 
                        a(href="https://es.scribd.com/doc/153167116/NTC5522", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar 

