.container#page-tema-1

    .header-ecored
        h1 1. Trazabilidad del proceso

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen1.png", alt="").img-fluid

        .row.mt-5
            p Según las Buenas Prácticas Agrícolas BPA (s.f.), en el sistema productivo o finca es donde se inicia la cadena; sin embargo, sin la existencia de la producción, no se podrían dar los eslabones de transporte, acopio, distribución o consumo, que son importantes para cumplir con las normas establecidas para la cosecha del producto, salud y seguridad de los trabajadores y manejo del producto cosechado, con el fin de obtener productos inocuos que garanticen al productor acceso a nuevos mercados y disminuir el rechazo de su producto. Se hace necesario llevar una trazabilidad, que se define como el proceso que ayuda a seguir el movimiento de un producto a través de  etapas establecidas de producción, procesamiento y distribución; estos registros nos permiten implementar acciones de mejora cuando se presente una anormalidad en la cadena productiva.  El productor debe garantizar que el producto que sale de su sistema productivo cumple con las condiciones mínimas exigidas de inocuidad y seguridad. 

            p Según SENASA (2010), la trazabilidad tiene dos componentes principales:

        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen15.png")

                        h4 Rastreo
                        hr.text-line-card
                        p.mt-3 Se inicia desde la producción hasta llegar al consumidor, para identificar productos no conformes e inspeccionar y mejorar las condiciones de logística dentro de la cadena.

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen16.png")

                        h4 Trazado
                        hr.text-line-card 
                        p.mt-3 Inicia desde el consumidor y regresa por cada una de las etapas de la cadena hortofrutícola hasta llegar al lugar de producción, permite identificar el lugar donde se produjo un inconveniente.


    .jumbotron.bg-white 
        .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.1] Concepto y principios

        .row.mt-5
            p.text-color-dark Concepto de trazabilidad

            p Según Casa fe, BPA Línea base (2015), puede definirse como el conjunto de procedimientos que permite tener el seguimiento completo de un producto desde el lugar de producción, siguiendo por todas las actividades con el registro detallado de las fechas y de las diferentes etapas que se desarrollan hasta que el mismo llega a su lugar de destino. La trazabilidad no garantiza la inocuidad de la producción por sí misma, pero permite garantizar y conocer la forma en que se lleva adelante la actividad productiva y los caminos que sigue un producto hasta el consumidor final.

            p Según Icontec NTC 5522 (2007), la trazabilidad es la capacidad para identificar y documentar en todas las etapas de la producción, la transformación y la distribución de cualquier alimento materia prima o insumo destinado a ser incorporado o con la probabilidad de serlo, como también a los proveedores de los mismos, para encontrar y seguir su rastro y así obtener la información imprescindible y necesaria sobre el alimento, que permita la toma de medidas eficaces en circunstancias de no conformidad, contribuyendo a mantener la transparencia necesaria para sus clientes y su empresa.

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen4.png", alt="").img-fluid

        .row.mt-5

            p El sistema de trazabilidad contribuye a que los agroempresarios y las autoridades sanitarias o ambas, activen la red de alerta alimentaria e inmovilicen rápidamente los productos no inocuos y, si es necesario, los retiren del mercado, en el momento en que se tengan sospechas fundadas de que un alimento puede causar problemas de salud para los humanos. 

            p A los productores y empacadores les sirve para localizar rápidamente un lote del cual se sospecha que no cumple con algún requisito de calidad o de inocuidad, de manera que el resto de la producción no se vea afectado. 

            p A los consumidores les da tranquilidad saber que, si surge una no conformidad con el producto, pueden utilizar su derecho de reclamación y asegurar la toma de acciones correctivas, así como el derecho que tienen a recibir información sobre el origen y otros datos esenciales del alimento que le permitan decidir si consumir o no ese producto. 

            p El desempeño del sistema de trazabilidad mejora si se cuenta con sistemas de captura de información en la finca o predio o la agroempresa.

            h3.text-color-dark Principios

            p Para que un sistema de trazabilidad funcione se requiere que en cada una de las etapas que integran la cadena productiva, se lleven registros de todas las actividades relacionadas al proceso, donde se tengan en cuenta datos como fechas, responsables, insumos utilizados, observaciones, entre otras. 

            p El procedimiento o sistema de trazabilidad que se adopte dentro de cada sistema productivo deberá contemplar: 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen5.png", alt="").img-fluid

        .row.justify-content-center
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify La identificación del producto. 


            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify Los datos del producto (el origen de las materias primas y partes junto con la historia de los procesos aplicados al producto). 


            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify La manera en que fue manejado, producido, transformado y presentado (si se realizan todos estos procesos). 


            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify Su procedencia y destino, así como las fechas de ambos. 


            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify Los controles de que ha sido objeto y sus resultados. 


    .jumbotron.bg-white 
        .header#tema-1_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.2] Tipos

        .row.mt-5

            h3.text-color-dark Los tipos de trazabilidad son: 

            p Según Casa fe, BPA Línea base (2015), puede definirse como el conjunto de procedimientos que permite tener el seguimiento completo de un producto desde el lugar de producción, siguiendo por todas las actividades con el registro detallado de las fechas y de las diferentes etapas que se desarrollan hasta que el mismo llega a su lugar de destino. La trazabilidad no garantiza la inocuidad de la producción por sí misma, pero permite garantizar y conocer la forma en que se lleva adelante la actividad productiva y los caminos que sigue un producto hasta el consumidor final.

            p Según Icontec NTC 5522 (2007), la trazabilidad es la capacidad para identificar y documentar en todas las etapas de la producción, la transformación y la distribución de cualquier alimento materia prima o insumo destinado a ser incorporado o con la probabilidad de serlo, como también a los proveedores de los mismos, para encontrar y seguir su rastro y así obtener la información imprescindible y necesaria sobre el alimento, que permita la toma de medidas eficaces en circunstancias de no conformidad, contribuyendo a mantener la transparencia necesaria para sus clientes y su empresa.

        .row.my-5
            .col-12.col-md-4
                .row.justify-content-center.align-items-center
                    img(src="assets/images/pages/tema-1/imagen6.svg", alt="").img-fluid
            .col-12.col-md-4
                .row.justify-content-center.align-items-center
                    img(src="assets/images/pages/tema-1/imagen7.svg", alt="").img-fluid
            .col-12.col-md-4
                .row.justify-content-center.align-items-center
                    img(src="assets/images/pages/tema-1/imagen8.svg", alt="").img-fluid


    .jumbotron.bg-white 
        .header#tema-1_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.3] Documentación

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-1/imagen9.svg", alt="").img-fluid

        .row.mt-5

            p El proceso de documentación lo componen diferentes registros que se generan en el desarrollo de cada una de las etapas del sistema productivo, lo que facilita el control sobre estas actividades. Dichos registros son formatos preestablecidos donde el productor deberá consignar lo realizado en el cultivo. 

            p La información requerida está relacionada en aspectos como localización del cultivo (mapas), los insumos utilizados durante la producción, fuente de la que se obtuvieron (registros de los agroquímicos empleados), fuente de la cual se obtuvo el agua y su calidad, así como el plan de identificación de lotes, fechas de recolección y procedimientos, entre otros.

            p A continuación según ICA (2017), se nombran algunos de los registros y documentación con la que se debe contar en la unidad productiva:

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Original o copia del certificado de existencia y representación legal expedido por la cámara de comercio si es persona jurídica, con fecha de expedición no mayor a noventa (90) días calendario previo a la presentación de la solicitud ante el ICA. Matricula mercantil, RUT o cédula de ciudadanía, si se trata de una persona natural. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Documento que acredite la propiedad, posesión o tenencia del predio productivo. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Documento que acredite la asistencia técnica al predio, por parte de un ingeniero agrónomo o agrónomo y copia de la tarjeta profesional vigente. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Croquis de llegada y plano del predio, indicando las áreas destinadas al cultivo y especies (s), las instalaciones y registros asociados. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Certificado del uso del suelo expedido por la autoridad competente. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Análisis microbiológico de aguas provenientes de las fuentes utilizadas en las labores del predio, con vigencias no mayor a un (1) año. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Permiso de usos de aguas o radicado de la solicitud del permiso de uso de aguas, cuando se requiera según lo establecido en el Decreto 3930 de 2010 del Ministerio de Ambiente y Desarrollo Sostenible, o aquella que la modifique, adicione o sustituya. 
            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Para los efectos de la visita de verificación establecida en el artículo 5, deberá cumplir con lo establecido en la resolución 30021. Instituto Colombiano Agropecuario. Bogotá. Colombia. Abril 28 de 2017. 

            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Para los efectos de la visita de verificación establecida en el artículo 5, deberá cumplir con lo establecido en la resolución 30021. Instituto Colombiano Agropecuario. Bogotá. Colombia. Abril 28 de 2017. 

            .col-10.col-md-8
                .card-media.bg-gris
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen10.png").img-fluid
                        p.card__copy 
                            span 
                                | Informes de actividades de limpieza y prevención de peligros, con relación al uso de insumos agrícolas y uso de trajes de personal. 

        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-900

                        h4 Registros
                        hr.text-line-card

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registros de actividades de mantenimiento, limpieza y calibración de equipos y herramientas. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registro de aplicación e inventario de fertilizantes y plaguicidas. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registro de capacitaciones al personal. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registro de actividades desarrolladas para obtención de material vegetal en el predio. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registro de usos de material de propagación genéticamente modificado. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registro de trazabilidad del producto. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registros de preparación de abono orgánico. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registros documentales del consumo de agua en el proceso productivo


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Registro documental de actividades desarrolladas para propagación de material vegetal.


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Contar con soporte documental cuando aplique con el listado sobre sobre L.M.R. permitidos en el cultivo por la legislación vigente. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Solicitud de auditoria en Buenas Prácticas Agrícolas. 


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-900

                        h4 Planes y procedimientos
                        hr.text-line-card 

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan de uso racional de agua. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan para evitar erosión de suelo. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan de mantenimiento, desinfección y calibración de equipos. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan de fertilización y uso de plaguicidas. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan de manejo integrado de plagas (MIP). 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan de manejo de residuos líquidos y sólidos. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan de manejo de contingencia o emergencias. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Procedimiento para la obtención de material de propagación.


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Procedimiento para la elaboración de abonos orgánicos, llevar registros documentales que incluyan información sobre el origen del material, los procedimientos de transformación y los controles realizados. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal_2.svg").img-fluid  
                            .list__txt    
                                p.text-justify Procedimientos e instructivos para el manejo de equipos, utensilios y herramientas. 

        .row.mt-5

            p Toda la documentación debe reposar en la finca y es responsabilidad del productor su diligenciamiento y actualización según las modificaciones que se realicen a los componentes del sistema productivo. 

        .row.mt-5


















