//Colores base del material de formación
$brand-color-dark: #348693;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #EDF1F4;
$text-color-light: #DB9600;
$brand-color-secondary: #348693;

